@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: rgb(242, 242, 242, 0.4) !important;
    overflow-x: hidden;
    /* font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
}

body .offcanvas-menu:before {
    opacity: 1;
    z-index: 1002;
    visibility: visible;
}

ul{
    list-style: none;
}
a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}
a, a:hover {
    text-decoration: none !important;
}

/*===== All Preloader Style =====*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: #fff;
    z-index: 99999;
}

#preloader #preloader-inner {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    animation: spin 2s linear infinite
}

#preloader #preloader-inner:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    animation: spin 3s linear infinite
  }

  #preloader #preloader-inner:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    animation: spin 1.5s linear infinite
  }
  @keyframes
  spin { 0% {
  transform:rotate(0deg)
  }

  to { transform: rotate(1turn) }
}
/* === End ::: preloader === */


/* ==== Scroll bar====*/
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background:#0AB1CE;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background:#0AB1CE;
}

/* ==== Scroll bar ends==== */



/* === Start ::: chapters === */
.breadcrumb{
    margin:0 !important;
}

.ch_header{
    display:flex;
    align-items:center;
    font-family: "Poppins", sans-serif;
    padding:25px 15px;
    height: 300px;
    margin: 0 !important;
    background-color:rgb(51, 148, 151);
}
.ch_container{
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ch_card-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px;
}

.ch_card, .ch_card_lab{
    position: relative;
    background: #fff;
    max-width: 375px;
    width: 375px;
    height: auto;
    margin: 25px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    border-radius: 10px;
    overflow: hidden;
}

@media screen and (max-width:400px){
    .ch_card, .ch_card_lab{
        position: relative;
        background: #fff;
        max-width: 375px;
        width: 325px;
        height: auto;
        margin: 25px;
        box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
        border-radius: 10px;
        overflow: hidden;
    }
}
.ch_card_lab{
    border-top:3px solid #077bff;
}
.getstarted{
    border-top:3px solid #ffc107;
}
.ch_card-image{
    padding: 8px 5px;
    margin-top:10px;
    max-height: 200px;
    display: flex;
    justify-content: center;
}

.ch_card-image img{
    max-width: 100%;
    height: auto;
}

.ch_card-info,.ch_card-footer, .ch_card_body{
    position: relative;
    color: #222;
    padding: 10px 20px 20px;
}

.ch_card_title > h3{
    overflow: hidden;
    height:80px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.ch_card_description{
    height:70px;
}

.ch_card_title > h3 > a{
    color:black !important;
}

.ch_card_title > h3 > a:hover{
    text-decoration: underline !important;
}
.ch_btn:hover{
    background-color: rgb(51, 148, 151);
    color:white;
    border:none;
}

.ch_card-info h3{
    font-size: 1.8em;
    font-weight: 800;
    margin-bottom: 5px;
}

.ch_card-info p{
    font-size: 1em;
    margin-bottom: 5px;
}

.progress_wrapper{
    position: relative;
}
.percentage{
    position:absolute;
    top:-6px;
    right: 5px;
}
.progress {
    height: 10px !important;
    border-radius: 10px !important;
    width:85%;
}

.pprogress-bar{
    background-color: rgb(0, 166, 255);
}


.ch_pagination{
    display: block;
    text-align: center;
    margin: 30px 30px 60px;
    user-select: none;
}

.ch_pagination li{
    display: inline-block;
    margin: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 10%);
}

.ch_pagination li button{
    border:none;
    background:none;
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    line-height: 45px;
}

.ch_previous-page, .ch_next-page{
    background: #0AB1CE;
    width: 80px;
    border-radius: 45px;
    cursor: pointer;
    transition: 0.3s ease;
}

.ch_previous-page:hover{
    transform: translateX(-5px);
}

.ch_next-page:hover{
    transform: translateX(5px);
}

.ch_current-page, .ch_dots{
    background: #ccc;
    width: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.ch_active{
    background: #0AB1CE;
}

.ch_disable{
    background: #ccc;
}

/* === End main ::: chapters === */

/* === Start main ::: courses ===*/
.ch_progress_bar  h5{
    font-size: 15px ;
}

/* === End main ::: course ===*/


/* === Start ::: Contact ===*/
.text-black {
    color: #000;
}
.content {
    padding: 7rem 0;
}
.heading {
    font-size: 2.5rem;
    font-weight: 900;
}

.col-contact-from-control {
    border: none;
    border-bottom: 1px solid #ccc;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    background: none;
}
.col-contact-from-control:active, .col-contact-from-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #000;
}
.col-contact-from-label {
    color: #000;
    font-size: 13px;
}
.contact-btn, .col-contact-from-control, .custom-select {
    height: 45px;
}
.custom-select:active, .custom-select:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #000;
}
.contact-btn {
    border: none;
    border-radius: 0;
    text-transform: uppercase;
}
.contact-btn-primary{
    background-color: #0AB1CE !important;
    color: #fff;
    padding: 15px 20px;
}
.contact-btn:hover {
    color: #fff;
}
.contact-btn:active, .contact-btn:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

.contact-wrap {
    -webkit-box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2);
}
.contact-wrap .col-contact-from-label {
    font-size: 14px;
    color: #b3b3b3;
    margin: 0 0 10px 0;
    display: inline-block;
    padding: 0;
}
.contact-wrap .form, .contact-wrap .contact-info {
    padding: 40px; }
.contact-wrap .contact-info {
    color: rgba(255, 255, 255, 0.5); }
.contact-wrap .contact-info ul li {
    margin-bottom: 15px;
    color: rgba(255, 255, 255, 0.5); }
.contact-wrap .contact-info ul li .wrap-icon {
    font-size: 20px;
    color: #fff;
    margin-top: 5px; }
.contact-wrap .form {
    background: #fff; }
.contact-wrap .form h3 {
    color: #35477d;
    font-size: 20px;
    margin-bottom: 30px; }
.contact-wrap .contact-info {
    background: #0AB1CE; }
.contact-wrap .contact-info h3 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 30px; }
label.error {
    font-size: 12px;
    color: red; }
#message {
    resize: vertical; }

#form-message-warning, #form-message-success {
    display: none; }

#form-message-warning {
    color: #B90B0B; }

#form-message-success {
    color: #55A44E;
    font-size: 18px;
    font-weight: bold; }

.submitting {
    float: left;
    width: 100%;
    padding: 10px 0;
    display: none;
    font-weight: bold;
    font-size: 12px;
    color: #000; }

/* === End ::: Contact === */


/* === Start ::: footer ===*/
footer{
    background-color: white;;
    color:black;
}
footer a{
    color:black !important;
}
footer a:hover{
    text-decoration: underline !important;
}
/* === End ::: footer === */

/* Start :: Back to top */
.back-to-top {
    font-size: 20px;
    color: white;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background: -webkit-linear-gradient(left, #37b8ce 0%, #0AB1CE 50%, #37b8ce);
    background: -o-linear-gradient(left, #37b8ce 0%, #0AB1CE 50%, #37b8ce 100%);
    background: linear-gradient(to right, #37b8ce 0%, #0AB1CE 50%, #37b8ce 100%);
    background-size: 200% auto;
    text-align: center;
    z-index: 99;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    display: none;
}
.back-to-top:hover {
    color: orange;
    background-position: right center;
}

/* End :: Back to top */

/* === Start ::: Sign up === */
.signup-form .form-control {
	height: 41px;
	background: #f2f2f2;
	box-shadow: none !important;
	border: none;
}
.signup-form .form-control:focus {
	background: #e2e2e2;
}
.signup-form .form-control, .signup-form .btn {        
	border-radius: 1px;
}
.signup-form {
    width:80%;
	margin: 30px auto;
}

@media screen and (max-width:781px) {
    .signup-form {
        width:100%;
    }
    .social-btn .btn {
        color: #fff;
        font-size: 15px;
        border-radius: 5px;
        font-weight: normal;
        border: 1px solid red;
        transition: all 0.4s;
    }	
    
}
.signup-form form {
	color: #999;
	border-radius: 3px;
	margin-bottom: 15px;
	background: #fff;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}

.signup-form h2  {
	color: #333;
	font-weight: bold;
	margin-top: 0;
}

.signup-form .form-group {
	margin-bottom: 20px;
}
.signup-form input[type="checkbox"] {
	margin-top: 3px;
}

.signup-form .row div:first-child {
	padding-right: 10px;
}
.signup-form .row div:last-child {
	padding-left: 10px;
}
.signup-form .btn {        
	font-size: 16px;
	font-weight: bold;
	background: #3598dc;
	border: none;
	min-width: 140px;
}
.signup-form .btn:hover, .signup-form .btn:focus {
	background: #2389cd !important;
	outline: none;
}
.signup-form a {
	color: #fff;
	text-decoration: underline;
}
.signup-form a:hover {
	text-decoration: none;
}
.signup-form form a {
	color: #3598dc;
	text-decoration: none;
}	
.signup-form form a:hover {
	text-decoration: underline;
}

.signup-form .hint-text  {
	padding-bottom: 15px;
	text-align: center;
}

@media screen and (min-width:981px) {
    
    .signup-btn {
        text-align: center;
        outline: #000;
        outline-offset: 5px;
        border:1px solid #5cb85c;
        transition: all 0.4s;
        padding: 8px 15px;
    }
    .signup-btn:hover {
        background: #5cb85c;
        opacity: 0.8;
        color:white;
    }
}
.or-seperator {
	margin: 50px 0 15px;
	text-align: center;
	border-top: 1px solid #e0e0e0;
}
.or-seperator b {
	padding: 0 10px;
	width: 40px;
	height: 40px;
	font-size: 16px;
	text-align: center;
	line-height: 40px;
	background: #fff;
	display: inline-block;
	border: 1px solid #e0e0e0;
	border-radius: 50%;
	position: relative;
	top: -22px;
	z-index: 1;
}

.social-btn .btn {
	color: #fff;
	margin: 10px 0 0 15px;
	font-size: 15px;
	border-radius: 5px;
	font-weight: normal;
	border: none;
	transition: all 0.4s;
}	

/* .social-btn .btn:first-child {
	margin-left: 0;
} */
.social-btn .btn:hover {
	opacity: 0.8;
}
.social-btn .btn-primary {
	background: #507cc0;
}
.social-btn .btn-info {
	background: #64ccf1;
}
.social-btn .btn-danger {
	background: #df4930;
}
.social-btn .btn i {
	float: left;
	margin: 3px 10px;
	font-size: 20px;
}


/* === End ::: Sign up === */


/* Start :: nav */
nav[data-toggle=toc] {
    margin-top: 30px;
}

/* small screens */
@media (max-width: 768px) {
    /* override the Affix plugin so that the navigation isn't sticky */
    nav.affix[data-toggle='toc'] {
        position: static;
    }

    /* don't expand nested items, which pushes down the rest of the page when navigating */
    nav[data-toggle=toc] .nav .active .nav {
            display: none;
        }
}

.affix {
    border: 1px solid #eee;
    max-height: 90%;
    overflow-y: scroll;
}

nav[data-toggle=toc] .nav>li>a {
    font-size: 16px;
    padding: 10px;
    border-bottom: 1px solid #eee;
}
nav[data-toggle=toc] .nav .nav>li>a {
    font-size: 14px;
    padding: 8px;
}

/* End :: nav */
