.top_nav{
    width: 100%;
    height: 100%;
    background: white;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    z-index: 99;
}
.top_nav .navbar{
    height: 100%;
    max-width: 1250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 0 50px;
}
.navbar .logo a{
    font-size: 30px;
    color: black;
    text-decoration: none;
    font-weight: 600;
}
.top_nav .navbar .nav-links{
    line-height: 70px;
    height: 100%;
    display: flex;
    align-items: center;
    padding-top:10px;
}
.top_nav .navbar .links{
    display: flex;
}
.top_nav .navbar .links li{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0 14px;
}

.top_nav .navbar .links li:hover{
    background-color: #eee;
    border-radius: 10px;
}

@media screen and(max-width:700px) {
    .top_nav .navbar .links li:hover{
        background-color: white;
        border-radius: 10px;
        color: #000;
    }
}

.top_nav .navbar .links li a{
    height: 100%;
    text-decoration: none;
    white-space: nowrap;
    color: black;
    font-size: 15px;
    font-weight: 500;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
    transform: rotate(180deg);
}

.top_nav .navbar .links li .arrow{
    height: 100%;
    width: 22px;
    line-height: 70px;
    text-align: center;
    display: inline-block;
    color: black;
    transition: all 0.3s ease;
}

.top_nav .navbar .links li .arrow:hover{
    color: #0AB1CE;
}

.top_nav .navbar .links li .sub-menu{
    position: absolute;
    top: 70px;
    left: 0;
    line-height: 40px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 2;
    width:220px;
}

@media screen and (min-width: 700px) {
    .top_nav .navbar .links li .sub-menu{
        width:300px;
        border-radius: 8px;
        background: white;
        border:1px solid #eee; 
    }
}
.top_nav .navbar .links li:hover .categories-sub-menu{
    display: block;
}
.navbar .links li .sub-menu li{
    padding: 0 22px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
.navbar .links li .sub-menu a{
    color: black;
    font-size: 15px;
    font-weight: 500;
}
@media screen and (min-width:701px){
    .navbar .links li .sub-menu .more-arrow{
        line-height: 40px;
        position: absolute;
        right:0;
    }
}

@media screen and (max-width:700px){
    .navbar .links li .sub-menu .more-arrow{
        display:none;
    }
}

/* .navbar .links li .categories-more-sub-menu{
    line-height: 40px;
} */
.navbar .links li .sub-menu .more-sub-menu{
    position: absolute;
    top: 0;
    left: 100%;
    border-radius: 0 4px 4px 4px;
    z-index: 1;
    display: none;
}
.links li .sub-menu .more:hover .more-sub-menu{
    display: block;
}
.navbar .search-box{
    position: relative;
    height: 40px;
    width: 40px;
}
.navbar .search-box i{
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 40px;
    text-align: center;
    font-size: 22px;
    color: black;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}
.navbar .search-box .input-box{
    position: absolute;
    right: calc(100% - 40px);
    top: 80px;
    height: 60px;
    width: 300px;
    background: white;
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
    border: 1px solid #eee;
}
.navbar.showInput .search-box .input-box{
    top: 65px;
    opacity: 1;
    pointer-events: auto;
    background: white;
}
.search-box .input-box::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background: white;
    right: 10px;
    top: -6px;
    transform: rotate(45deg);
}
.search-box .input-box input{
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    height: 35px;
    width: 280px;
    outline: none;
    padding: 0 15px;
    font-size: 16px;
    border: none;
}
.navbar .nav-links .sidebar-logo{
    display: none;
}
.navbar .bx-menu{
    display: none;
}
@media (max-width:920px) {
    .top_nav .navbar{
        max-width: 100%;
        padding: 0 25px;
    }

    .top_nav .navbar .logo a{
        font-size: 27px;
    }
    .top_nav .navbar .links li{
        padding: 0 10px;
        white-space: nowrap;
    }
    .top_nav .navbar .links li a{
        font-size: 15px;
    }
}

.more > span{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width:180px;
}

@media (max-width:700px){
    /* .top_nav{
        position: relative;
    } */
    .navbar .bx-menu{
        display: block;
        padding:10px
    }
    .navbar .bx-menu:hover{
        background-color: #eee;
        border-radius: 50%;
    }
    .top_nav .navbar .nav-links{
        position: fixed;
        top: 0;
        left: -100%;
        display: block;
        max-width: 270px;
        width: 100%;
        background:  white;
        line-height: 40px;
        padding: 20px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        transition: all 0.5s ease;
        z-index: 1000;
    }
    .navbar .nav-links .sidebar-logo{
        display: flex;
        /* align-items: center;
        justify-content: space-between; */
    }
    .sidebar-logo .logo-name{
        font-size: 25px;
        color: black;
    }
    .sidebar-logo  i,
    .navbar .bx-menu{
        font-size: 25px;
        color: black;
    }
    .top_nav .navbar .links{
        display: block;
        margin-top: 20px;
    }
    .top_nav .navbar .links .more span:hover{
        background-color: white;
        border-radius: 10px;
    }
    .top_nav .navbar .links li .arrow{
        line-height: 40px;
    }
    .top_nav .navbar .links li{
        display: block;
    }
    .top_nav .navbar .links li .sub-menu{
        position: relative;
        top: 0;
        box-shadow: none;
        display: none;
    }
    .top_nav .navbar .links li .sub-menu li{
        border-bottom: none;
    }
    .navbar .links li .sub-menu .more-sub-menu{
        display: none;
        position: relative;
        left: 0;
    }
    .navbar .links li .sub-menu .more-sub-menu li{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .links li:hover .htmlcss-arrow, .links li:hover .js-arrow{
        transform: rotate(0deg);
    }
    .navbar .links li .sub-menu .more-sub-menu{
        display: none;
    }
    .navbar .links li .sub-menu .more span{
        /* background: red; */
        display: flex;
        align-items: center;
        /* justify-content: space-between; */
    }

    .links li .sub-menu .more:hover .more-sub-menu{
        display: none;
    }
    .top_nav .navbar .links li:hover .categories-sub-menu{
        display: none;
    }

    .navbar  .show1 .links .categories-sub-menu{
        display: block !important;
    }

    .navbar .show1 .links .categories-arrow{
        transform: rotate(180deg);
    }
}

@media (max-width:370px){
    .top_nav .navbar .nav-links{
        max-width: 100%;
    } 
}

.close_btn{
    padding:10px;
}
.close_btn:hover{
    background-color: #eee;
    border-radius: 50%;
}

/* progress bar for navaBar */
.container_top_progress_bar{
    position:relative
}

.top_progress_container {
    display: none;
    width: 100%;
    height: 4px;
    background: #ccc;
    /* position:absolute;
    bottom:0; */
    z-index: -1;
}

.top_progress_bar {
    height: 4px;
    background: #0AB1CE;
    width: 0%;
}

.profile_box{
    position: absolute;
    right:20px;
    background-color: rgb(255, 255, 255);
    padding:20px 10px;
    width:200px;
    border-radius: 10px;
    margin-top: 20px;
    border:1px solid #eee;
}
.profile_box  div{
    color:#000;
    /* padding: 5px 0px */
}
.profile_box a{
    color:#000;
    padding: 15px 8px;
    border-radius: 10px;
}
.profile_box button{
    border:none;
    background-color: red;
    color:white;
    border-radius: 10px;
    padding:10px 0;
}
.profile_box button:hover{
    background-color: rgb(237, 31, 31);
}
.profile_box a:hover{
    background-color: #eee;
    
}

.Avatar_image{
    width:40px;
    height: 40px;
    border: 1px solid #eee;
    border-radius: 50%;
}

.Avatar_image:hover{
    border:1px solid rgb(157, 157, 157, 0.6);
}

.login_btn:hover{
    border:1px solid #0AB1CE;
}

.singup_btn{
    background-color: #0AB1CE;
}
.singup_btn:hover{
    background-color: #4cd0e7;
}

.avatar-warrper{
    z-index: 1000;
}